parser: babel-eslint
extends: standard
plugins: ["babel"]
env:
  node: true
  mocha: true
globals:
  createDriver: true
rules:
  eqeqeq: 0
  no-var: 2
  no-console: 2
  no-alert: 2
  no-debugger: 2
  semi: 0
  space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
  yoda: 0
  arrow-parens: [0, "always"]
  arrow-spacing: 2
  brace-style: [2, "stroustrup"]
  padded-blocks: 0
  newline-after-var: 0
  spaced-comment: 0
  max-len: [2, 100, 4, {"ignoreUrls": true}]
  array-bracket-spacing: [2, "never"]
  computed-property-spacing: [2, "never"]
  no-trailing-spaces: [2, {"skipBlankLines": true}]

  # Babel
  babel/new-cap: 2
  babel/object-curly-spacing: [2, "never"]
  babel/object-shorthand: 2
  babel/arrow-parens: 2
  babel/no-await-in-loop: 1
