.DS_Store
java/.idea
kobiton-rest-api/upload-app-to-kobiton-apps-repo/java/target
kobiton-rest-api/upload-app-to-kobiton-apps-repo/java/.idea
katalon-upload-app/console.properties
katalon-upload-app/Include/config/log.properties
katalon-upload-app/settings/external
katalon-upload-app/settings/internal
katalon-upload-app/Profiles/Kobiton.glbl
katalon-upload-app/.settings
