.DS_Store
node_modules
npm-debug.log
test-results.xml
coverage
build
mochawesome-reports
reports
logs
*.log
.vscode/**
src/test/console/java/target
src/test/console/java/.idea/
src/test/console/java/screenshot.png
src/test/console/dotnet/Jsonwired/obj/**
src/test/console/dotnet/Jsonwired/bin/**
src/test/console/dotnet/packages/**
