<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand active" href="/" data-toggle="tooltip" title="Home">Home</a>
    <ul class="nav navbar-nav">
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mobile Automated Tests
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li class="nav-item">
           <a class="nav-link" href="/test" data-toggle="tooltip" title="Test">Test</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/staging" data-toggle="tooltip" title="Staging">Staging</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/production" data-toggle="tooltip" title="Production">Production</a>
         </li>
       </ul>
     </li>
     <ul class="nav navbar-nav">
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portal Automated Tests
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="nav-item">
              <a class="nav-link" href="/portal/test" data-toggle="tooltip" title="Test">Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/staging" data-toggle="tooltip" title="Staging">Staging</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portal/production" data-toggle="tooltip" title="Production">Production</a>
          </li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search" action="?qs" method="get">
      <div class="form-group">
        <input type="text"  id ="qs" name="qs" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
</nav>
