<html>

<head>
  <% include ./header %>
</head>

<body>
  <div style="margin-left: 10px; margin-right: 10px;">
    <% include ./header_menu %>
  </div>
  <div class="jumbotron" style="padding-top: 2px; padding-bottom: 5px; margin: 10px;">
    <div class="container-fluid">
      <ul class="list-group">
      <h3 class="list-group-item" style="text-align:center;">This report supports those things below:</h3>
      <li class="list-group-item"><a>This page groups all report links on your local into three groups Test, Staging and Production.</a></li>
      <li class="list-group-item"><a>We can select on each link to view report details.</a></li>
      <li class="list-group-item"><a>We can filter by Report Name.</a></li>
    </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>
